@model EmpireMan.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes do Produto " + Model.Descricao;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/imagensProdutos/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 300px" />
    </div>
    <dl class="col-md-8">
        <dt class="col-sm-2">
            @Html.DisplayName("Categoria")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoBarras)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Model.Valor.ToString("C")
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" supress-by-claim-name="Produto" supress-by-claim-value="Editar" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>