@model EmpireMan.App.ViewModels.PedidoCadastroViewModel

<h1>Novo Pedido</h1>

<hr />

<form asp-action="Create">
    <input type="hidden" asp-for="@Model.PedidoViewModel.Id" />
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="PedidoViewModel.DataPedido" class="control-label"></label>
            <input asp-for="PedidoViewModel.DataPedido" class="form-control" />
            <span asp-validation-for="PedidoViewModel.DataPedido" class="text-danger"></span>
        </div>
        <div class="form-group col-md-9">
            <label asp-for="PedidoViewModel.ClienteId" class="control-label"></label>
            <select asp-for="PedidoViewModel.ClienteId" class="form-control" asp-items="@(new SelectList(Model.PedidoViewModel.ListaDeCliente, "Id", "Nome"))">
                <option></option>
            </select>
            <span asp-validation-for="PedidoViewModel.ClienteId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        @if (Model.PedidoViewModel.Id > 0)
        {
            <a asp-action="AdicionarProduto" asp-route-id="1" class="btn btn-info" data-modal="">
                <span title="Adicionar" class="fa fa-pencil-alt"></span>
            </a>
        }
        else
        {
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        }

        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </div>
</form>
<hr />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor Unitário
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Desconto(R$)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListaPedidoItensViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDesconto)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1000px;">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Pedidos/AdicionarItens.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            SetModal();
        });
    </script>

}
