@model EmpireMan.App.ViewModels.PedidoFiltroViewModel

@{
    ViewData["Title"] = "Lista de Pedidos";
}

<h1>@ViewData["Title"]</h1>

<p supress-by-claim-name="Pedido" supress-by-claim-value="Adicionar">
    <a class="btn btn-info" asp-action="Create">Novo Pedido</a>
</p>

<form asp-action="Consultar" method="post">
    <div class="row col-md-12">
        <div class="form-group col-md-4">
            <label asp-for="DataPedido" class="control-label"></label>
            <input asp-for="DataPedido" class="form-control" />
        </div>
        @*<div class="form-group col-md-4">
            <label asp-for="ProdutoId" class="control-label"></label>
            <select asp-for="ProdutoId" class="form-control" asp-items="@(new SelectList(Model.ListaProdutos, "Id", "Descricao"))">
                <option></option>
            </select>
        </div>*@
        <div class="row" style="margin-top:20px">
            <input class="btn btn-info" type="submit" name="Pesquisar" value="Consultar" />
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Data do Pedido
            </th>
            <th>
                Cliente
            </th>
            <th>
                Valor Total
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Pedidos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
